manifest {
	author = 'Sahand Vahidnia'
	name = 'Cross Skilling Training'
	description = 'Cross Skilling Training'
	homePage = 'https://github.sydney.edu.au/informatics'
}

// Mandate a minimum version of nextflow required to run the pipeline
nextflowVersion = '!>=22.07.1'

// Set default workflow parameters
params {
	help	= false
	version	= '0.1.5'
	input	= false
	cached_et_sat_images = '/home/sahand/Data/llara_sat_images/'
}

// Resume pipeline from last successful process
resume = true 

// Fail a task if any command returns non-zero exit code
shell = ['/bin/bash', '-euo', 'pipefail']

// Produce a workflow diagram  
// More info: https://www.nextflow.io/docs/latest/tracing.html#dag-visualisation
dag {
	enabled = true
	overwrite = true
	file = 'runInfo/flowchart.png'
}

// Output resource and runtime reports for a workflow run
// More info: https://www.nextflow.io/docs/latest/tracing.html
report {
	enabled = true
	overwrite = true
	file = 'runInfo/report.html'
}

trace {
	enabled = true
	overwrite = true
	file = 'runInfo/trace.txt'
	fields = 'task_id,name,status,attempt,exit,start,complete,duration,realtime,%cpu,%mem,memory,peak_rss,rss,peak_vmem,vmem,disk,read_bytes,write_bytes,hostname'
}

timeline {
	enabled = true
	overwrite = true
	file = 'runInfo/timeline.html'
}

profiles {
	docker_local 		{includeConfig 'config/docker_local.config'}
	docker_gcp_ls	 		{includeConfig 'config/docker_gcp_ls.config'}
	docker_gcp_batch	 		{includeConfig 'config/docker_gcp_batch.config'}
}