// Docker GCP profile

docker.enabled = true
process{
    container = 'sahandv/python:pandas'
    cpus = 1
    memory = '6 GB'
    disk = '25 GB'
    executor = 'google-batch'
    withLabel: 'cpu' {
        container = 'sahandv/python:pandas'
    }
    withLabel: 'low_mem' {
        container = 'sahandv/python:pandas'
        cpus = 1
        memory = '6 GB'
    }
    withLabel: 'gpu' {
        container = 'sahandv/python:pandas'
        docker.runOptions = ' --gpus all '
        cpus = 6
        memory = '20 GB'
    }
    
}

workDir = 'gs://nowcasting-bucket-01/nf-default-workdir'
google{
    location = 'europe-west2'
    region  = 'europe-west1'
    project = 'nowcasting-390306'
    batch.bootDiskSize = '15 GB'
}

params{
    config_profile_description = 'This profile will use a python 3.9 container with pandas.'
}